.container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-inline-end: 0;
    padding-inline-start: 0;

    padding-block-end: 0;
    padding-block-start: 0;
}

@font-face {
    font-family: 'Paolos Handwriting';
    src: url('/static/css/fonts/PaolosHandwriting-Regular.otf');
}

p {
    font-family: "Paolos Handwriting";
    font-size: 100px;
    line-height: 24px;
}