<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel='icon' th:href="@{/imgs/kim_k.jpg}"  />
    <title>Register</title>
    <style>
        @font-face {
            font-family: 'Paolos Handwriting';
            src: url('/static/css/fonts/PaolosHandwriting-Regular.otf');
        }
        p {
            font-family: "Paolos Handwriting";
            font-size: 100px;
            margin: 0;
        }
        button{
            width: 150px;
            height: 50px;
            font-family: "Paolos Handwriting";
            font-size: 65px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<div align="center">
    <p>Register</p>
    <br>
    <td><input type="text" size=60 id="un" name="userun" placeholder="username" style="text-align:center; font-size:50px; font-family: 'Paolos Handwriting'"></td>
    <br><br>
    <td><input type="text" size=60 id="pw" name="userpw" placeholder="password" style="text-align:center; font-size:50px; font-family: 'Paolos Handwriting'"></td>
    <br><br>
    <script type="text/javascript" th:src="@{/js/register.js}"></script>
    <button onclick="registerUser();">enter</button>
</div>
</body>
</html>